
        <div id="group-list" style="width:400px;margin:100px auto 0px auto;">
                <p>CHAT ROOM CATEGORY</p>
                <div class="list-group">
                    <button style="border-radius: 0px;text-align: center;" *ngFor="let category of groupcategories"  class="list-group-item" (click)="gotoChat(category)">{{category}}</button>
                </div>
        </div> 


<!-- <div class="text-center">
        <div id="group-list">
                <p>CHAT ROOM CATEGORY</p>
                <div class="list-group group-button">
                    <button *ngFor="let category of groupcategories" id="sportButton" class="list-group-item" (click)="gotoChat(category)">{{category}}</button>
                </div>
            </div> 
</div> -->




